.container{
  margin-top: 4rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cont{
  width: 100%;
  padding-bottom: 20px;
}

 p{
  float: left;
  padding-left: 25px;
  font-size: 13px;;
  color: #9CA5B4;
  font-weight: bold;
}

 h3{
  padding-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #181A1F;
}
.container .btn{
  margin-top:  10px;
  background: #0071DF;
  border-radius: 2px;
  width: 90%;
  height: 50px;
  color: #fff;
}